.App {
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background: linear-gradient(to left, #ff4400a2, #fc8b0289, #eae4c3bb);
  font-family: 'Roboto', sans-serif;
}
body::before{
  content: '';
  position: absolute;
  background-image: url('istockphoto-2169699402-2048x2048.jpg');
  background-position: center;
  background-size: cover;
  z-index: -1;
  height:100%;
  width: 100%;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(252, 247, 247);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dark{
  
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  
}

.navbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.my-{
  color: #fff;
}
h1{
  text-align: center;
}

#one{
  padding-bottom: 52vh;
}
.one{
  color: #fff;
}